.bg-linear-red-c {
  background: linear-gradient(
    180deg,
    #680007 1.22%,
    #680007 1.23%,
    #73060d 8.51%,
    #f45959 35.07%,
    rgba(251, 131, 131, 0.07) 100%
  );
}

.bg-linear-blue-c {
  background: linear-gradient(
    180deg,
    #00284f 1.22%,
    #00284f 1.23%,
    #114977 8.51%,
    #2561a3 35.07%,
    rgba(134, 174, 232, 0.03) 100%
  );
}

.bg-linear-orange-c {
  background: linear-gradient(
    180deg,
    #825120 1.22%,
    #825120 1.23%,
    #a86e34 8.51%,
    #ffbf42 35.07%,
    rgba(255, 191, 66, 0.05) 100%
  );
}
