.banner-orange {
  background-image: url("/assets/App/banners/banner-orange.png");
}

.banner-blue {
  background-image: url("/assets/App/banners/banner-blue.png");
}

.banner-red {
  background-image: url("/assets/App/banners/banner-red.png");
}
