.btn-SIT {
  background-color: #fb8383;
}

.btn-ENGINEER {
  background-color: #ffbf42;
}

.btn-FiET {
  background-color: #86aee8;
}

.hover-btn {
  @apply hover:scale-125 cursor-pointer transition-transform duration-300;
}
