.banner-orange {
  background-image: url("/assets/App/banners/banner-orange.png");
}

.banner-blue {
  background-image: url("/assets/App/banners/banner-blue.png");
}

.banner-red {
  background-image: url("/assets/App/banners/banner-red.png");
}

.goose-red {
  background-image: url("/assets/App/ducks/duck-red.png");
}

.goose-orange {
  background-image: url("/assets/App/ducks/duck-orange.png");
}

.goose-blue {
  background-image: url("/assets/App/ducks/duck-blue.png");
}

.bg-transition{
  transition: background-image 0.8s ease-in-out;
}
